meta(charset="UTF-8")
meta(name="viewport", content="width=device-width, initial-scale=1.0")
meta(property="og:url" content="https://count--down.web.app/" )
meta(property="og:type" content="website" )
meta(property="og:title" content="theCountDown" )
meta(property="og:description" content="1から25までの数字を順番に消していくゲーム。最速タイムを目指そう！" )
meta(property="og:site_name" content="CountDown" )
meta(property="og:image" content="./assets/images/ogp-thumb.png" )
link(rel="stylesheet", href="./assets/css/style.css")
script(src="./assets/js/script.js")
title CountDown