header
  .upper-displays
    input(id="rangeSlider" type="range" min="0" max="10" step="0.1" value="2" title="表示調整用スライダー")
    .displays
      p#gamePoint.point-display(title="特典")
        | 0
      p#timer.timer-display(title="経過時間")
        | 00:00