.modal(state="pre")
  #startModal.start-modal(state="pre")
    button#startBtn.c-button.start-modal__btn START
  .post__wrap(state="pre")
    #endComment.comment
      p
      p 終了
    button#restartBtn.c-button.reset-btn(disabled) RETRY!