//- <form class="js-slider-form" onsubmit="return false;">
//-   <input type="text" name="slider" id="slider1o" value="0">
//-   <div id="slider1" class="js-slider">
//-     <div></div>
//-     <input type="button" value="">
//-   </div>
//- </form>

//- form.l-slider(onsubmit="return false;")
//-   input#sliderOutput(type="text" name="slider" value="0")
//-   #slider.js-slider
//-     div
//-     input(type="button" value="")